/* ----- first view ----- */
.p-fv {
  padding: 120px 0 158px;
  width: 100%;
  min-height: 100vh;
  background: url(../images/fv_bg.png) top left/1125px #FCEF89;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: max(108.4px, 12.5vh);
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .p-fv {
    padding-top: 175px;
    background-size: 1687px;
    gap: 115px;
  }
}
@media (min-width: 1024px) {
  .p-fv {
    padding-top: max(120px, 21.1vh);
    flex-direction: row;
    align-items: flex-start;
    gap: 5vw;
  }
}
.p-fv__title {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  scale: 0;
}
.p-fv__title span {
  font-size: clamp(2.4rem, 6.4vw, 4rem);
}
@media (min-width: 1024px) {
  .p-fv__title span {
    font-size: 5.6rem;
  }
}
.p-fv__title h1 {
  font-size: clamp(4rem, 10.6vw, 8rem);
}
@media (min-width: 1024px) {
  .p-fv__title h1 {
    font-size: clamp(8rem, 13.7vh, 9.6rem);
  }
}
.p-fv__img {
  width: clamp(179px, 47.7vw, 358.3px);
  aspect-ratio: 179/132.7;
  background: url(../images/bg-fv_rocketBoy.svg) center/contain no-repeat;
  position: relative;
}
@media (min-width: 1024px) {
  .p-fv__img {
    margin-top: min(19.3vh, 174px);
    width: clamp(358.3px, 32.4vw, 467px);
  }
}

.p-about {
  background-color: #fcfcfc;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .p-about {
    padding-bottom: 120px;
  }
}
.p-about__body {
  margin-top: 52px;
  width: calc(100% - 70px);
  max-width: 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: relative;
}
@media (min-width: 768px) {
  .p-about__body {
    margin-top: 80px;
    width: calc(100% - 192px);
    max-width: 730px;
    flex-direction: row;
    align-items: flex-start;
    gap: 66px;
  }
}
@media (min-width: 1024px) {
  .p-about__body {
    width: calc(100% - 294px);
    max-width: 920px;
    gap: min(14.1%, 130px);
  }
}
.p-about__img {
  position: relative;
}
.p-about__img svg {
  width: 229px;
  height: 315px;
  transform: translateZ(0);
}
@media (min-width: 768px) {
  .p-about__img svg {
    width: 250px;
    height: 344px;
  }
}
@media (min-width: 1024px) {
  .p-about__img svg {
    width: 340px;
    height: 500px;
  }
}
.p-about__sns {
  display: flex;
  gap: 12px;
  position: absolute;
  top: 320px;
  left: 140px;
  transform: rotate(-27deg);
  transform-origin: left top;
}
@media (min-width: 768px) {
  .p-about__sns {
    top: 348px;
    left: 155px;
  }
}
@media (min-width: 1024px) {
  .p-about__sns {
    top: 480px;
    left: 228px;
  }
}
.p-about__sns li > a {
  display: block;
  opacity: 0.8;
}
.p-about__sns li > a:hover {
  transform: scale(1.2);
}
.p-about__sns li > a i {
  font-size: 2.7rem;
}
@media (min-width: 768px) {
  .p-about__sns li > a i {
    font-size: 2.9rem;
  }
}
@media (min-width: 1024px) {
  .p-about__sns li > a i {
    font-size: 3.5rem;
  }
}
.p-about__sns li > a span {
  font-size: 0;
}
.p-about__sns li:nth-child(2) {
  transform: translate(0, 3%) rotate(-6deg);
}
.p-about__sns li:nth-child(3) {
  transform: translate(0, -26%) rotate(-18deg);
}
.p-about__sns li:nth-child(4) {
  transform: translate(-18%, -96%) rotate(-24deg);
}
@media (min-width: 768px) {
  .p-about__text {
    margin-top: 92px;
    flex: 1;
    position: relative;
  }
}
@media (min-width: 1024px) {
  .p-about__text {
    margin-top: 170px;
  }
}
.p-about__text span {
  font-weight: 700;
}
.p-about__text p:not(:first-child) {
  margin-top: 1.6rem;
}
.p-about__text a {
  font-weight: 700;
  text-decoration: underline;
}
.p-about__text a:focus-visible {
  border-radius: 2rem;
}

/* ----- skills section ----- */
.p-skills {
  padding-bottom: 45px;
  background: url(../images/fv_bg.png) top left/1125px #95EAC1;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .p-skills {
    padding-bottom: 85px;
  }
}
@media (min-width: 1024px) {
  .p-skills {
    padding-bottom: 115px;
  }
}
.p-skills__list {
  margin-top: 52px;
  width: clamp(250px, 66.4%, 410px);
}
@media (min-width: 768px) {
  .p-skills__list {
    margin-top: 80px;
    width: 80%;
    max-width: 1125px;
  }
}

/* ----- skill box ----- */
.p-skill {
  padding: 30px max(25px, 10%);
  width: 100%;
  border-radius: 15px;
  background-color: #fcfcfc;
}
@media (min-width: 768px) {
  .p-skill {
    padding: 30px;
    width: 270px;
  }
}
@media (min-width: 1024px) {
  .p-skill {
    padding: 35px;
    width: 340px;
  }
}
.p-skill__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: max(25px, 10%);
}
.p-skill__icon img {
  width: 80px;
}
@media (min-width: 1024px) {
  .p-skill__icon img {
    width: 95px;
  }
}
.p-skill__desc {
  margin: 16px auto 0;
  max-width: 300px;
}
@media (min-width: 768px) {
  .p-skill__desc {
    margin-top: 20px;
  }
}
.p-skill__desc h3 {
  font-size: 2rem;
  font-weight: 700;
}
.p-skill__desc p {
  margin-top: 0.6rem;
}

.p-works {
  background-color: #EBEBEB;
  overflow-x: hidden;
}
.p-works__list {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (min-width: 768px) {
  .p-works__list {
    margin-top: 105px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }
}
@media (min-width: 1024px) {
  .p-works__list {
    -moz-column-gap: 64px;
         column-gap: 64px;
    row-gap: 50px;
  }
}
.p-works__list li {
  width: 100%;
}
@media (min-width: 768px) {
  .p-works__list li {
    width: calc((100% - 50px) / 2);
  }
}
@media (min-width: 1024px) {
  .p-works__list li {
    width: calc((100% - 64px) / 2);
  }
}
.p-works__list li a:hover {
  opacity: 1;
}
.p-works__list li a:hover figure {
  rotate: -10deg;
}

/* ----- contact section ----- */
.p-contactSec {
  padding-bottom: 93px;
  background-color: #FFAC3C;
  position: relative;
  overflow: clip visible;
}
@media (min-width: 768px) {
  .p-contactSec {
    padding-bottom: 90px;
  }
}
@media (min-width: 1024px) {
  .p-contactSec {
    padding-bottom: 124px;
  }
}
.p-contactSec__desc {
  margin: 44px auto 0;
  padding: 56px 20px 44px;
  width: clamp(325px, 86.6%, 410px);
  border-radius: 15px;
  background-color: #fcfcfc;
  position: relative;
  text-align: center;
}
@media (min-width: 768px) {
  .p-contactSec__desc {
    margin: 80px auto 0 41.3%;
    padding: 102px 47px 77px;
    width: clamp(398px, 51.8%, 460px);
  }
}
@media (min-width: 1024px) {
  .p-contactSec__desc {
    margin: 104px auto 0 52.4%;
    padding: 86px 47px 70px;
  }
}
.p-contactSec__desc p {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .p-contactSec__desc p {
    font-size: 1.6rem;
  }
}
.p-contactSec__desc a {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 40px auto 0;
  width: 24.5rem;
}
@media (min-width: 768px) {
  .p-contactSec__desc a {
    margin-top: 45px;
    width: 30rem;
  }
}

/* ----- scroll animation UFO ----- */
.p-ufo {
  width: 101.8px;
  aspect-ratio: 200/240;
  position: fixed;
  top: 20%;
  left: 100%;
  z-index: 5;
  animation: floating 0.6s ease-in-out infinite alternate-reverse;
}
@media (min-width: 768px) {
  .p-ufo {
    width: 136px;
  }
}
@media (min-width: 1024px) {
  .p-ufo {
    width: 160px;
  }
}
.p-ufo.is-animated .c-light {
  -webkit-animation: ufoLight 6s steps(1) infinite;
          animation: ufoLight 6s steps(1) infinite;
}
/*# sourceMappingURL=top.css.map */