// ============================================================
// foundation
// ============================================================
@use "foundation/variables";
@use "foundation/reset";
@use "foundation/base";


// ============================================================
// layout
// ============================================================
@use "layout/l-header";
@use "layout/l-nav";
@use "layout/l-main";
@use "layout/l-footer";


// ============================================================
// object
// ============================================================
//  ----- component ----- 
@use "object/component/button";
@use "object/component/cover";
@use "object/component/illustration";
@use "object/component/animation";
@use "object/component/shadow";
@use "object/component/wrapper";
@use "object/component/section";
@use "object/component/outline";


//  ----- project ----- 
@use "object/project/hamburgerBtn";
@use "object/project/nav";
@use "object/project/contactBtn";
@use "object/project/navLink";
@use "object/project/secTitle";
@use "object/project/btn";
@use "object/project/footer";
@use "object/project/error";

@use "object/project/top/fv";
@use "object/project/top/about";
@use "object/project/top/skills";
@use "object/project/top/skill";
@use "object/project/top/works";
@use "object/project/top/workInfo";
@use "object/project/top/contactSec";
@use "object/project/top/ufo";

@use "object/project/achievement/achievement";
@use "object/project/achievement/detail";
@use "object/project/achievement/archive";

@use "object/project/contact/contact";
@use "object/project/contact/form";

// ----- utility -----
@use "object/utility/archiveSec";
@use "object/utility/page";