@use "../../foundation/variables" as *;

/* ----- outline ----- */
.c-outline--nav {
  outline: 3px dotted $white-color;
  outline-offset: -3px;
  border-radius: 2rem;

  @include breakpoint(tablet) {
    outline-color: $black-color;
  }
}

.c-outline {
  outline: 3px dotted $black-color;
  outline-offset: 1px;
  border-radius: 15px;
}

.c-outline--navList {
  li > a:focus-visible {
    div {
      @extend .c-outline--nav;
      outline-offset: -3px;
    }
  }
}

.c-outline--navSns {
  li:has(> a:focus-visible) {
    @extend .c-outline--nav;
    outline-offset: 1px;

    @include breakpoint(tablet) {
      outline-offset: -3px;
    }
  }
}

.c-outline--list {
  li:has(> a:focus-visible) {
    @extend .c-outline;
    border-radius: 50%;
  }
}

.c-outline--works {
  li > a:focus-visible {
    h3 {
      @extend .c-outline;
    }

    figure {
      transform: rotate(-10deg);
    }
  }
}

.c-outline--single {
  &:has(> a:focus-visible) {
    @extend .c-outline;
  }
}