@use '../../foundation/variables' as *;

.u-page {
  h1 > span {
    font-size: min(9vw, 4.8rem);

    @include breakpoint(tablet) {
      font-size: 8rem;
    }
    @include breakpoint(pc) {
      font-size: 8.8rem;
    }
  }

  &__body {
    margin-top: 80px;

    @include breakpoint(tablet) {
      margin-top: 120px;
    }
  
    h2 {
      font-size: 2.4rem;
      font-weight: 500;
  
      &:not(:first-child) {
        margin-top: 32px;
      }
    }
  
    h2 + p {
      margin-top: 16px;
    }
  
    a {
      text-decoration: underline;
    }
  
    ul {
      margin-top: 8px;
    }  
  }
}