@use '../../../foundation/variables' as *;

/* ----- first view - critical ----- */
.p-fv {
  width: 100%;
  min-height: 100vh;
  background: url(../images/fv_bg.png) top left / 1125px $yellow-color;
}