@use '../../../foundation/variables' as *;

.p-workInfo {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;

  @include breakpoint(tablet) {
    gap: 16px;
  }

  h3 {
    width: 80%;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
  }

  figure {
    transform: translateZ(0);
  }

  img {
    aspect-ratio: 16 / 10;
    border-radius: 15px;
    border: 3px solid $black-color;
    object-fit: cover;
    object-position: top left;
  }
}