@use '../../foundation/variables' as *;

/* ----- footer ----- */
.p-footer {
  background-color: $blue-color;
  text-align: center;

  &__sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @include breakpoint(tablet) {
      gap: 36px;
    }
    @include breakpoint(pc) {
      gap: 48px;
    }

    li > a {
      font-size: 2.4rem;

      @include breakpoint(tablet) {
        font-size: 3.5rem;
      }

      span {
        font-size: 0;
      }
    }
  }

  &__reCaptcha {
    margin-top: 18px;
    font-size: 1.2rem;

    @include breakpoint(tablet) {
      margin-top: 23px;

      br {
        display: none;
      }
    }
    @include breakpoint(pc) {
      margin-top: 30px;
    }

    a {
      text-decoration: underline;
    }
  }

  small {
    margin-top: 8px;
    display: inline-block;
    font-size: 1.2rem;

    @include breakpoint(tablet) {
      font-size: 1.4rem;
    }
  }
}