@use "../../foundation/variables" as *;
@use "sass:math";

/* ----- hamburger button ----- */
.p-hamburgerBtn {
  @include breakpoint(tablet) {
    display: none;
  }

  &.is-open {
    background: $white-color;

    &::before,
    &::after {
      background: $black-color;
      top: calc(50% - math.div(4px, 2));
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(135deg);
    }

    > span {
      background: none;
    }

    // フォーカス時のアウトライン
    &:focus-visible {
      outline-color: $white-color;
    }
  }
}