@use '../../../foundation/variables' as *;

/* ----- achievement page ----- */
.p-achievement {
  padding: 80px 0 100px;

  @include breakpoint(tablet) {
    padding: 150px 0 120px;
  }
  @include breakpoint(pc) {
    padding-top: 180px;
  }

  h1 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1;

    @include breakpoint(tablet) {
      font-size: 4.8rem;
    }
    @include breakpoint(pc) {
      font-size: 6.4rem;
    }
  }

  dl {
    > div {
      display: flex;
    }
  }

  &__head {
    dl {
      margin-top: 16px;

      @include breakpoint(tablet) {
        margin-top: 24px;
      }
    }

    a {
      text-decoration: underline;

      &:focus-visible {
        border-radius: 2rem;
      }
    }

    figure {
      margin: 72px calc(50% - 50vw) 0;
      width: 100vw;
      text-align: center;

      @include breakpoint(tablet) {
        margin: 100px 0 0;
        width: 100%;
      }
      @include breakpoint(pc) {
        margin: 30px 0 0 17.8%;
        width: 86%;
      }

      img {
        width: 85.6%;

        @include breakpoint(tablet) {
          width: 91.8%;
        }
        @include breakpoint(pc) {
          width: 100%;
        }
      }
    }
  }

  &__body {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 60px;

    @include breakpoint(tablet) {
      margin-top: 120px;
      gap: 80px;
    }
    @include breakpoint(pc) {
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 120px;
    }

    &--data {
      display: flex;
      flex-direction: column;
      gap: 60px;

      @include breakpoint(tablet) {
        gap: 80px;
      }
      @include breakpoint(pc) {
        width: calc(100% - 47.2% - 80px);
        gap: 64px;
      }
    }

    &--text {
      padding: 45px max(30px, 9.8%);
      width: 100%;
      border-radius: 15px;
      background-color: $point-color;

      @include breakpoint(tablet) {
        padding: 56px;
      }
      @include breakpoint(pc) {
        padding-inline: 6%;
        width: 47.2%;
      }

      p:not(:first-child) {
        margin-top: 1.6rem;
      }
    }

    &--btn {
      @include lilita();
      margin-inline: auto;
      width: 25rem;

      @include breakpoint(tablet) {
        width: 30rem;
      }
      @include breakpoint(pc) {
        width: 34rem;
      }
    }
  }
}