@use '../../../foundation/variables' as *;

/* ----- contact form ----- */
.p-form {
  margin-top: 56px;

  @include breakpoint(tablet) {
    margin-top: 76px;
  }
  @include breakpoint(pc) {
    margin-top: 96px;
  }

  ul {
    li {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include breakpoint(pc) {
        flex-direction: row;
        justify-content: space-between;
      }

      &:not(:first-child) {
        margin-top: 40px;

        @include breakpoint(tablet) {
          margin-top: 50px;
        }
      }

      > span {
        width: 100%;
  
        @include breakpoint(pc) {
          flex: 1;
        }
      }
    }
  }

  label {
    font-size: 1.6rem;
    font-weight: 500;
    
    @include breakpoint(pc) {
      width: 196px;
      display: block;
    }

    span {
      margin-left: 8px;
      display: inline;
      font-size: 1.4rem;

      @include breakpoint(tablet) {
        margin-left: 16px;
      }
      @include breakpoint(pc) {
        margin-left: 0;
        display: block;
      }
    }
  }

  input, textarea {
    padding: 18px 30px;
    width: 100%;
    border-radius: 3rem;
    background-color: $bg-color;
    font-size: 1.6rem;
    font-weight: 400;

    @include breakpoint(tablet) {
      padding-inline: 46px;
    }

    &::placeholder {
      opacity: .6;
    }
  }

  textarea {
    min-height: 200px;
  }

  &__btn {
    margin: 32px auto 0;
    width: 24.5rem;
    justify-content: stretch;
    font-weight: 700;

    @include breakpoint(tablet) {
      margin-top: 40px;
      width: 30rem;
    }
    @include breakpoint(pc) {
      width: 34rem;
    }

    .p-btn {
      width: 100%;

      > span {
        display: block;
        width: 100%;
      }

      input {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: grid;
        place-content: center;
        font-size: 2.4rem;
        line-height: 1.1;
        font-weight: 700;

        @include breakpoint(tablet) {
          font-size: 3.2rem;
        }
      }

      &__before {
        input {
          background-color: $black-color;
          color: $white-color;
        }
      }
      &__after {
        input {
          color: $font-color;
        }
      }
    }

    .wpcf7-spinner {
      display: none;
    }
  }

  // 確認画面
  dl {
    > div {
      padding-bottom: 8px;
      border-bottom: dotted 2px $white-color;

      @include breakpoint(tablet) {
        display: flex;
      }

      &:not(:first-child) {
        margin-top: 32px;
      }

      dt {
        font-weight: 500;

        @include breakpoint(tablet) {
          width: 196px;
        }
      }
      dd {
        margin: 16px 0 0 16px;

        @include breakpoint(tablet) {
          margin-top: 0;
          flex: 1;
        }
      }
    }
  }

  p {
    margin-top: 56px;
    font-size: 1.4rem;

    @include breakpoint(tablet) {
      margin-top: 76px;
    }
    @include breakpoint(pc) {
      margin-top: 100px;
    }
  }

  // 戻るボタン
  &__back {

    i {
      margin-right: 8px;
      font-size: 2rem;

      @include breakpoint(tablet) {
        font-size: 2.4rem;
      }

      &:has(+ input:hover) {
        transform: translateX(-8px);
      }
    }

    input[type="button"] {
      margin-top: 56px;
      padding: 0;
      width: auto;
      display: inline-block;
      background-color: unset;
      font-size: 2rem;
      font-weight: 500;

      @include breakpoint(tablet) {
        font-size: 2.4rem;
      }
    }
  }
}